pkl
.idea
**/*/__pycache__
**/.ipynb_checkpoints
__pycache__
.ipynb_checkpoints
社会交流步骤分析
**/*/wandb
/InterpretationoDreams.iml
/poetry.lock
/src/dreamsboard/poetry.lock
/梦与创造性分析/虚拟网友/行为处理/dataset/AgentInstruct/alfworld/data-00000-of-00001.arrow
/梦与创造性分析/虚拟网友/行为处理/dataset/AgentInstruct/alfworld/dataset_info.json
/梦与创造性分析/虚拟网友/行为处理/dataset/AgentInstruct/alfworld/state.json
/梦与创造性分析/虚拟网友/行为处理/dataset/AgentInstruct/db/data-00000-of-00001.arrow
/梦与创造性分析/虚拟网友/行为处理/dataset/AgentInstruct/db/dataset_info.json
/梦与创造性分析/虚拟网友/行为处理/dataset/AgentInstruct/db/state.json
/梦与创造性分析/虚拟网友/行为处理/dataset/AgentInstruct/kg/data-00000-of-00001.arrow
/梦与创造性分析/虚拟网友/行为处理/dataset/AgentInstruct/kg/dataset_info.json
/梦与创造性分析/虚拟网友/行为处理/dataset/AgentInstruct/kg/state.json
/梦与创造性分析/虚拟网友/行为处理/dataset/AgentInstruct/mind2web/data-00000-of-00001.arrow
/梦与创造性分析/虚拟网友/行为处理/dataset/AgentInstruct/mind2web/dataset_info.json
/梦与创造性分析/虚拟网友/行为处理/dataset/AgentInstruct/mind2web/state.json
/梦与创造性分析/虚拟网友/行为处理/dataset/AgentInstruct/os/data-00000-of-00001.arrow
/梦与创造性分析/虚拟网友/行为处理/dataset/AgentInstruct/os/dataset_info.json
/梦与创造性分析/虚拟网友/行为处理/dataset/AgentInstruct/os/state.json
/梦与创造性分析/虚拟网友/行为处理/dataset/AgentInstruct/webshop/data-00000-of-00001.arrow
/梦与创造性分析/虚拟网友/行为处理/dataset/AgentInstruct/webshop/dataset_info.json
/梦与创造性分析/虚拟网友/行为处理/dataset/AgentInstruct/webshop/state.json
/梦与创造性分析/虚拟网友/行为处理/dataset/AgentInstruct/dataset_dict.json
/docker/data/databases/neo4j/schema/index/token-lookup-1.0/1/index-1
/docker/data/databases/neo4j/schema/index/token-lookup-1.0/2/index-2
/docker/data/databases/neo4j/database_lock
/docker/data/databases/neo4j/neostore
/docker/data/databases/neo4j/neostore.counts.db
/docker/data/databases/neo4j/neostore.indexstats.db
/docker/data/databases/neo4j/neostore.labeltokenstore.db
/docker/data/databases/neo4j/neostore.labeltokenstore.db.id
/docker/data/databases/neo4j/neostore.labeltokenstore.db.names
/docker/data/databases/neo4j/neostore.labeltokenstore.db.names.id
/docker/data/databases/neo4j/neostore.nodestore.db
/docker/data/databases/neo4j/neostore.nodestore.db.id
/docker/data/databases/neo4j/neostore.nodestore.db.labels
/docker/data/databases/neo4j/neostore.nodestore.db.labels.id
/docker/data/databases/neo4j/neostore.propertystore.db
/docker/data/databases/neo4j/neostore.propertystore.db.arrays
/docker/data/databases/neo4j/neostore.propertystore.db.arrays.id
/docker/data/databases/neo4j/neostore.propertystore.db.id
/docker/data/databases/neo4j/neostore.propertystore.db.index
/docker/data/databases/neo4j/neostore.propertystore.db.index.id
/docker/data/databases/neo4j/neostore.propertystore.db.index.keys
/docker/data/databases/neo4j/neostore.propertystore.db.index.keys.id
/docker/data/databases/neo4j/neostore.propertystore.db.strings
/docker/data/databases/neo4j/neostore.propertystore.db.strings.id
/docker/data/databases/neo4j/neostore.relationshipgroupstore.db
/docker/data/databases/neo4j/neostore.relationshipgroupstore.db.id
/docker/data/databases/neo4j/neostore.relationshipgroupstore.degrees.db
/docker/data/databases/neo4j/neostore.relationshipstore.db
/docker/data/databases/neo4j/neostore.relationshipstore.db.id
/docker/data/databases/neo4j/neostore.relationshiptypestore.db
/docker/data/databases/neo4j/neostore.relationshiptypestore.db.id
/docker/data/databases/neo4j/neostore.relationshiptypestore.db.names
/docker/data/databases/neo4j/neostore.relationshiptypestore.db.names.id
/docker/data/databases/neo4j/neostore.schemastore.db
/docker/data/databases/neo4j/neostore.schemastore.db.id
/docker/data/databases/system/schema/index/range-1.0/3/index-3
/docker/data/databases/system/schema/index/range-1.0/4/index-4
/docker/data/databases/system/schema/index/range-1.0/7/index-7
/docker/data/databases/system/schema/index/range-1.0/8/index-8
/docker/data/databases/system/schema/index/token-lookup-1.0/1/index-1
/docker/data/databases/system/schema/index/token-lookup-1.0/2/index-2
/docker/data/databases/system/database_lock
/docker/data/databases/system/neostore
/docker/data/databases/system/neostore.counts.db
/docker/data/databases/system/neostore.indexstats.db
/docker/data/databases/system/neostore.labeltokenstore.db
/docker/data/databases/system/neostore.labeltokenstore.db.id
/docker/data/databases/system/neostore.labeltokenstore.db.names
/docker/data/databases/system/neostore.labeltokenstore.db.names.id
/docker/data/databases/system/neostore.nodestore.db
/docker/data/databases/system/neostore.nodestore.db.id
/docker/data/databases/system/neostore.nodestore.db.labels
/docker/data/databases/system/neostore.nodestore.db.labels.id
/docker/data/databases/system/neostore.propertystore.db
/docker/data/databases/system/neostore.propertystore.db.arrays
/docker/data/databases/system/neostore.propertystore.db.arrays.id
/docker/data/databases/system/neostore.propertystore.db.id
/docker/data/databases/system/neostore.propertystore.db.index
/docker/data/databases/system/neostore.propertystore.db.index.id
/docker/data/databases/system/neostore.propertystore.db.index.keys
/docker/data/databases/system/neostore.propertystore.db.index.keys.id
/docker/data/databases/system/neostore.propertystore.db.strings
/docker/data/databases/system/neostore.propertystore.db.strings.id
/docker/data/databases/system/neostore.relationshipgroupstore.db
/docker/data/databases/system/neostore.relationshipgroupstore.db.id
/docker/data/databases/system/neostore.relationshipgroupstore.degrees.db
/docker/data/databases/system/neostore.relationshipstore.db
/docker/data/databases/system/neostore.relationshipstore.db.id
/docker/data/databases/system/neostore.relationshiptypestore.db
/docker/data/databases/system/neostore.relationshiptypestore.db.id
/docker/data/databases/system/neostore.relationshiptypestore.db.names
/docker/data/databases/system/neostore.relationshiptypestore.db.names.id
/docker/data/databases/system/neostore.schemastore.db
/docker/data/databases/system/neostore.schemastore.db.id
/docker/data/databases/store_lock
/docker/data/dbms/auth.ini
/docker/data/transactions/neo4j/checkpoint.0
/docker/data/transactions/neo4j/neostore.transaction.db.0
/docker/data/transactions/system/checkpoint.0
/docker/data/transactions/system/neostore.transaction.db.0
/docker/data/server_id
/docker/logs/debug.log
/docker/logs/http.log
/docker/logs/neo4j.log
/docker/logs/query.log
/docker/logs/security.log
out
logs
wandb
/社会交流步骤分析.tar.gz
/docker/data
storage
storage*
*_keyframe